@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  text-align: start;
}

@layer base {
  h1 {
    font-size: 5.625rem;
    letter-spacing: -0.01875rem;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased !important;
    text-rendering: optimizeLegibility !important;
    line-height: 1.2;
  }

  @media (max-width: 991px) {
    h1 {
      font-size: 4.375rem;
      line-height: 5rem;
    }
  }

  h2 {
    font-size: 3.75rem;
    line-height: 4.375rem;
    letter-spacing: -0.0125rem;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased !important;
    text-rendering: optimizeLegibility !important;
  }

  @media (max-width: 991px) {
    h2 {
      font-size: 2.5rem;
      line-height: 3.125rem;
    }
  }

  h3 {
    font-size: 3.4375rem;
    line-height: 4.0625rem;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased !important;
    text-rendering: optimizeLegibility !important;
  }

  @media (max-width: 991px) {
    h3 {
      font-size: 2.375rem;
      line-height: 3rem;
    }
  }

  @media (max-width: 400px) {
    h3 {
      font-size: 2.375rem;
      line-height: 2.8125rem;
    }
  }

  h4 {
    font-size: 1.875rem;
    font-weight: 700;
    -webkit-font-smoothing: subpixel-antialiased !important;
    text-rendering: optimizeLegibility !important;
  }

  h6 {
    font-size: 1rem;
    line-height: 1.375rem;
  }
}

.container-padding {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

.animation-easein-slow {
  @apply transition-all ease-in duration-300;
}

.shift-to-right {
  @apply relative left-0 hover:left-1.5;
}

.team-home {
  background-image: url(/assets/home-football-black.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}

.hr--block {
  width: 25%;
}

.dot::after {
  content: ' ';
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.3rem;
  position: relative;
  bottom: -0.12rem;
}

.dot-green::after {
  background-color: #1da069;
}

.dot-iceblue::after {
  background-color: #7eb9e6;
}

.dot-ochre::after {
  background-color: #e8ad4f;
}

.dot-wine::after {
  background-color: #a5469a;
}

.dot-blue::after {
  background-color: #4a65d6;
}

.dot-brown::after {
  background-color: #b93939;
}

.dot-red::after {
  background-color: #c3201f;
}

.bg-blue {
  background-color: #4a65d6;
  color: #fff;
}

.bg-brickred {
  background-color: #b93939;
  color: #fff;
}

.bg-green {
  background-color: #1da069;
  color: #fff;
}

.bg-grey {
  background-color: #5a5a5a;
  color: #fff;
}

.bg-blue {
  background-color: #4a65d6;
  color: #fff;
}

.radio-input[type='radio']:checked {
  opacity: 1;
}

.radio-input[type='radio'] {
  -webkit-transform: scale(1.8);
  transform: scale(1.8);
  accent-color: #4a65d6;
  opacity: 0.7;
}

.file-upload-input::file-selector-button {
  background-color: #000;
  color: rgba(255, 255, 255, 0.5);
  padding: 0 0.75rem;
  margin: -0.375rem -0.75rem;
  margin-inline-end: 0.75rem;
  border-width: 0;
  border-radius: 0;
  border-style: solid;
  border-color: inherit;
  pointer-events: none;
  border-inline-end: 1px;
  border-right-style: solid;
}

.input-white::file-selector-button {
  background-color: white;
  color: black;
}

.primary-button {
  @apply inline-flex items-center px-6 py-3 rounded-lg font-medium 
  bg-blue-600 text-white hover:bg-blue-700 transition-colors;
}

.secondary-button {
  @apply inline-flex items-center px-6 py-3 rounded-lg font-medium 
  border-2 border-gray-900 text-gray-900 hover:bg-gray-50 transition-colors;
}

@media (max-width: 991px) {
  .hr--block {
    width: 50%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* CSS for blog */

.blog--description h3 {
  color: #505050;
  @apply text-xl font-semibold mb-2.5 mt-5;
}

.blog--description p {
  @apply mb-8;
  font-weight: 300;
}

.blog--description h5,
.blog--description p,
.blog--description ul:not(.case--socials),
.blog--description ol {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
}

.blog--description h4 {
  color: #505050;
  @apply text-lg mb-0 mt-5 font-semibold;
}

.blog--description ul:not(.case--socials),
.blog--description ol {
  margin: 0;
  padding: 0;
  padding-left: 1.125rem;
  margin-bottom: 1.875rem;
  font-weight: 300;
}

.blog--description .no-bottom-margin {
  margin-bottom: 0 !important;
}

.blog--description ul li {
  @apply list-disc list-item;
}

.blog--description ol li {
  @apply list-decimal list-item;
}

.blog--description h5 {
  font-weight: 600;
  margin-bottom: 0;
}

::marker {
  display: none;
}

.code {
  padding: 1.25rem 1.25rem !important;
  font-family: 'DM Mono', monospace !important;
  background-color: #f0eff2 !important;
  color: #000 !important;
  font-size: 0.875rem !important;
  line-height: 1.375rem !important;
  font-weight: 500 !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
}

code,
p.code {
  color: #000 !important;
  font-size: 0.875rem !important;
  font-weight: 500 !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
}

code {
  font-size: 0.546em;
  color: #d63384;
  word-wrap: break-word;
}

.blog--description a {
  text-decoration: underline !important;
  color: #4a65d6;
  text-decoration: none;
  transition: all ease 0.3s;
}

pre {
  padding: 1.25rem 1.25rem !important;
  background-color: #f0eff2 !important;
  color: #000 !important;
  margin: 1rem 0;
  font-weight: 500;
  display: block;
  overflow: auto;
  font-size: 0.5468em;
}

pre code {
  word-break: normal;
}

.blog--description p + h3,
.blog--description ul + h3,
.blog--description ol + h3 {
  padding-top: 1.25rem;
}

.blog--description h6 {
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 6.25rem;
  margin-bottom: 1.25rem;
}

.case--socials {
  padding-left: 0 !important;
  padding-bottom: 1.25rem !important;
  margin-bottom: 0 !important;
  display: flex;
  gap: 1rem;
}

.blog--details ul {
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 300;
  letter-spacing: -0.01875rem;
  margin: 0;
  margin-bottom: 3.75rem;
  padding: 0;
  padding-left: 1.25rem;
}

.case--socials li {
  display: inline !important;
  list-style-type: none !important;
}

@media (max-width: 991px) {
  .blog--description {
    width: 100%;
    margin-right: 0;
    margin-bottom: 3.125rem;
  }
}

@media (max-width: 991px) {
  .case--socials {
    padding-bottom: 1.25rem !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}
