@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Brand colors */
  --color-pro-green: #1da069;
  --color-pro-blue: #4a65d6;
  --color-pro-red: #c3201f;
  --color-pro-iceblue: #7eb9e6;
  --color-pro-ochre: #e8ad4f;
  --color-pro-wine: #a5469a;
  --color-pro-brown: #b93939;
  --color-pro-grey: #5a5a5a;
  --color-pro-brickred: #b93939;
  --color-pro-white: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  text-align: start;
}

@layer base {
  h1 {
    font-size: 5.625rem;
    letter-spacing: -0.01875rem;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased !important;
    text-rendering: optimizeLegibility !important;
    line-height: 1.2;
  }

  @media (max-width: 991px) {
    h1 {
      font-size: 4.375rem;
      line-height: 5rem;
    }
  }

  h2 {
    font-size: 3.75rem;
    line-height: 4.375rem;
    letter-spacing: -0.0125rem;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased !important;
    text-rendering: optimizeLegibility !important;
  }

  @media (max-width: 991px) {
    h2 {
      font-size: 2.5rem;
      line-height: 3.125rem;
    }
  }

  h3 {
    font-size: 3.4375rem;
    line-height: 4.0625rem;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased !important;
    text-rendering: optimizeLegibility !important;
  }

  @media (max-width: 991px) {
    h3 {
      font-size: 2.375rem;
      line-height: 3rem;
    }
  }

  @media (max-width: 400px) {
    h3 {
      font-size: 2.375rem;
      line-height: 2.8125rem;
    }
  }

  h4 {
    font-size: 1.875rem;
    font-weight: 700;
    -webkit-font-smoothing: subpixel-antialiased !important;
    text-rendering: optimizeLegibility !important;
  }

  h6 {
    font-size: 1rem;
    line-height: 1.375rem;
  }
}

.container-padding {
  position: relative;
  padding: 0 7vw;
}

.animation-easein-slow {
  @apply transition-all ease-in duration-300;
}

.shift-to-right {
  @apply relative left-0 hover:left-1.5;
}

.team-home {
  background-image: url(/assets/home-football-black.jpg);
  background-size: cover;
  background-position: center;
  color: var(--color-pro-white);
}

.hr--block {
  width: 25%;
}

.dot::after {
  content: ' ';
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.3rem;
  position: relative;
  bottom: -0.12rem;
}

.dot-green::after {
  background-color: var(--color-pro-green);
}

.dot-iceblue::after {
  background-color: var(--color-pro-iceblue);
}

.dot-ochre::after {
  background-color: var(--color-pro-ochre);
}

.dot-wine::after {
  background-color: var(--color-pro-wine);
}

.dot-blue::after {
  background-color: var(--color-pro-blue);
}

.dot-brown::after {
  background-color: var(--color-pro-brown);
}

.dot-red::after {
  background-color: var(--color-pro-red);
}

.bg-blue {
  background-color: var(--color-pro-blue);
  color: var(--color-pro-white);
}

.bg-brickred {
  background-color: var(--color-pro-brickred);
  color: var(--color-pro-white);
}

.bg-green {
  background-color: var(--color-pro-green);
  color: var(--color-pro-white);
}

.bg-grey {
  background-color: var(--color-pro-grey);
  color: var(--color-pro-white);
}

.bg-blue {
  background-color: var(--color-pro-blue);
  color: var(--color-pro-white);
}

.radio-input[type='radio']:checked {
  opacity: 1;
}

.radio-input[type='radio'] {
  -webkit-transform: scale(1.8);
  transform: scale(1.8);
  accent-color: var(--color-pro-blue);
  opacity: 0.7;
}

.file-upload-input::file-selector-button {
  background-color: #000;
  color: rgba(255, 255, 255, 0.5);
  padding: 0 0.75rem;
  margin: -0.375rem -0.75rem;
  margin-inline-end: 0.75rem;
  border-width: 0;
  border-radius: 0;
  border-style: solid;
  border-color: inherit;
  pointer-events: none;
  border-inline-end: 1px;
  border-right-style: solid;
}

.input-white::file-selector-button {
  background-color: white;
  color: black;
}

.primary-button {
  @apply text-sm text-black rounded-full shadow-[0.1rem_0.2rem_0.5rem_rgba(0,0,0,0.15)] px-6 py-4 border-none transition-all;
}

.primary-button:hover {
  @apply cursor-pointer bg-[var(--color-pro-red)] text-white;
}

.primary-button--red:hover {
  @apply cursor-pointer bg-[var(--color-pro-red)] text-white;
}

.primary-button--blue:hover {
  @apply cursor-pointer bg-[var(--color-pro-blue)] text-white;
}

.primary-button--green:hover {
  @apply cursor-pointer bg-[var(--color-pro-green)] text-white;
}

.primary-button--ochre:hover {
  @apply cursor-pointer bg-[var(--color-pro-ochre)] text-white;
}

.primary-button--iceblue:hover {
  @apply cursor-pointer bg-[var(--color-pro-iceblue)] text-white;
}

.primary-button--wine:hover {
  @apply cursor-pointer bg-[var(--color-pro-wine)] text-white;
}

@media (max-width: 991px) {
  .hr--block {
    width: 50%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* CSS for blog */

.blog--description h3 {
  color: #505050;
  @apply text-xl font-semibold mb-2.5 mt-5;
}

.blog--description p {
  @apply mb-8;
  font-weight: 300;
}

.blog--description h5,
.blog--description p,
.blog--description ul:not(.case--socials),
.blog--description ol {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
}

.blog--description h4 {
  color: #505050;
  @apply text-lg mb-0 mt-5 font-semibold;
}

.blog--description ul:not(.case--socials),
.blog--description ol {
  margin: 0;
  padding: 0;
  padding-left: 1.125rem;
  margin-bottom: 1.875rem;
  font-weight: 300;
}

.blog--description .no-bottom-margin {
  margin-bottom: 0 !important;
}

.blog--description ul li {
  @apply list-disc list-item;
}

.blog--description ol li {
  @apply list-decimal list-item;
}

.blog--description h5 {
  font-weight: 600;
  margin-bottom: 0;
}

::marker {
  display: none;
}

.code {
  padding: 1.25rem 1.25rem !important;
  font-family: 'DM Mono', monospace !important;
  background-color: #f0eff2 !important;
  color: #000 !important;
  font-size: 0.875rem !important;
  line-height: 1.375rem !important;
  font-weight: 500 !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
}

code,
p.code {
  color: #000 !important;
  font-size: 0.875rem !important;
  font-weight: 500 !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
}

code {
  font-size: 0.546em;
  color: #d63384;
  word-wrap: break-word;
}

.blog--description a {
  text-decoration: underline !important;
  color: var(--color-pro-blue);
  text-decoration: none;
  transition: all ease 0.3s;
}

pre {
  padding: 1.25rem 1.25rem !important;
  background-color: #f0eff2 !important;
  color: #000 !important;
  margin: 1rem 0;
  font-weight: 500;
  display: block;
  overflow: auto;
  font-size: 0.5468em;
}

pre code {
  word-break: normal;
}

.blog--description p + h3,
.blog--description ul + h3,
.blog--description ol + h3 {
  padding-top: 1.25rem;
}

.blog--description h6 {
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 6.25rem;
  margin-bottom: 1.25rem;
}

.case--socials {
  padding-left: 0 !important;
  padding-bottom: 1.25rem !important;
  margin-bottom: 0 !important;
  display: flex;
  gap: 1rem;
}

.blog--details ul {
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 300;
  letter-spacing: -0.01875rem;
  margin: 0;
  margin-bottom: 3.75rem;
  padding: 0;
  padding-left: 1.25rem;
}

.case--socials li {
  display: inline !important;
  list-style-type: none !important;
}

@media (max-width: 991px) {
  .blog--description {
    width: 100%;
    margin-right: 0;
    margin-bottom: 3.125rem;
  }
}

@media (max-width: 991px) {
  .case--socials {
    padding-bottom: 1.25rem !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}

/* Base nav-link styles */
.nav-link {
  @apply text-[1.375rem] tracking-[-0.9px] font-semibold hover:translate-x-1 transition-transform duration-300 ease-out flex flex-col md:flex-row items-center;
  position: relative;
}

.nav-link-button {
  @apply bg-[#f0eff2] p-2 rounded-full shadow-md md:ml-5 relative overflow-hidden;
}

.nav-link-icon {
  @apply w-5 h-5 text-black transition-colors duration-300 ease-out relative z-10;
}

.nav-link-slide {
  @apply absolute inset-0 transform -translate-x-full transition-transform duration-300 ease-out;
}

.nav-link-slide--red {
  @apply bg-red-500;
}

.nav-link-slide--blue {
  @apply bg-blue-500;
}

.nav-link-slide--green {
  @apply bg-green-500;
}

.group:hover .nav-link-button {
  @apply bg-transparent;
}

.group:hover .nav-link-icon {
  @apply text-white;
}

.group:hover .nav-link-slide {
  @apply translate-x-0;
}

.footer-link {
  @apply transition-all ease-in hover:text-[var(--color-pro-iceblue)];
}

.team-button {
  @apply text-sm font-semibold mr-10 mb-5 sm:mb-10 w-44 bg-white text-black rounded-full shadow-[0.1rem_0.2rem_0.5rem_rgba(0,0,0,0.15)] px-6 py-2.5 border-none flex items-center justify-center;
}
